{% extends 'base.html' %}
{% block title %}Про нас{% endblock%}
{% block content%}
<section class="about">
    <div class="container">
        <div class="row" >
            <div class="col-12 mt-2 text-white " style="text-align: justify">
                <h3 class="text-center">Короткі відомості про нас</h3>
                <p>Rivne Right Now - це джерело останніх новин, інформації та подій, які відбуваються в Рівненській області та зокрема в Україні.</p>
                <p>У світі, де новини швидко розповсюджуються, ми розуміємо важливість правдивої та об'єктивної інформації. Ми прагнемо докладати всіх зусиль для збору та представлення новин, які впливають на наше місто та регіон. Наша команда ретельно перевіряє факти, використовує інформацію з надійних джерел і намагається донести суть подій до наших читачів без прикрас та спотворень.</p>

<p>Ми пишемо про політику, економіку, культуру, спорт та інші сфери життя, які важливі для нашого регіону. Також ми допомагаємо поширювати позитивні історії, що відображають нашу громаду в найкращому світлі.</p>

<p>Ми розуміємо важливість ваших коментарів та зворотного зв'язку, тому завжди раді відгукам і пропозиціям від наших читачів.</p>

<p>Ми пишаємося тим, що змогли стати джерелом новин та надійною інформаційною платформою для нашої спільноти. Наша мета - допомагати утримувати людей проінформованими, об'єднувати їх і допомагати розуміти та розвивати наше чудове місто.</p>

<p>Дякуємо, що обрали наш регіональний портал новин. Ми завжди працюємо на користь нашої спільноти, і ваша підтримка - надзвичайно важлива для нас. Залишайтеся з нами, щоб бути в курсі останніх подій, важливих новин та захопливих історій нашого регіону!</p>
            <div class="accordion accordion-flush mt-2" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Політика
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Політика нашого ресурсу, в першу чергу, спрямована на своєчасне надання найсвіжіших новин, створення і підтримку найбільш зручного доступу до інформації, а також забезпечення правдивості та якості поширюваної нами інформації.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Мета
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-toggle="collapse"  data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Наша мета – створити найбільш повний, сучасний і доступний сервіс. Основні рубрики порталу, розроблені відповідно до тематичної спрямованості, висвітлюють найрізноманітніші події, починаючи з локального напрямку – новин Рівного, Рівненщини, частково України, і закінчуючи більш вузькою тематикою, такою, наприклад, як новини економіки та бізнесу і новини спорту.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Цільова аудиторія
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Незважаючи на те, що портал в першу чергу орієнтований на тих, хто проживає на Рівненщині, і хоче знайти максимум новинної інформації, не менш цікавим, корисним і пізнавальним буде відвідування порталу і для інших користувачів інтернету.</div>
            </div>
          </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock%}
